.funny-glasses {
    position: relative;
    top: -6.8em;
    left: 13.3em;
}

.bandana {
    position: relative;
    bottom: 3.8em;
    right: 7.8em;
}

.pawprint {
    position: fixed;
}

.sticky { 
    overflow: auto;
    width: 600px;
}

.top-hat {
    z-index: 1;
}